{% extends 'base.html.twig' %}

{% block title %}{{ page.titre }}{% endblock %}

{% block main %}

    <main class="container-fluid pageAbout">
        <!--page 1 : about---->

        <div class="container">
            <hr>
            <h3>Céline NP</h3>
            <h4>Styliste de mode</h4>
        </div>



        <section class="about container">


            <div class="card mb-3">
              <div class="row no-gutters">
                <div class="col-md-4">
                   <img src="{{ vich_uploader_asset(page.articles.get(0).picture, 'imageFile','App\\Entity\\Image') }}" alt="{{ page.articles.get(0).picture.alt }}" class="img1_about">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ page.articles.get(0).titre }}</h5>
                    <p class="card-text">{{ page.articles.get(0).contenu | raw('html') }}</p>
                   <a href="{{ path('creation') }}" class="btn btn-beige">Découvre mes créations</a>
                  </div>
                </div>
              </div>
            </div>

             
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                   <img src="{{ vich_uploader_asset(page.articles.get(1).picture, 'imageFile','App\\Entity\\Image') }}" alt="{{ page.articles.get(1).picture.alt }}" class="img2_about">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ page.articles.get(1).titre }}</h5>
                    <p class="card-text style="width:18rem">{{ page.articles.get(1).contenu | raw('html') }}</p>
                  </div>
                </div>
              </div>
            </div>












        </section>

      
      
       




    </main>




{% endblock %}

