{% extends 'base.html.twig' %}

{% block title %}
{{ page.titre }}
{% endblock %}


{% block header %}
  <header>
        <div class="row justify-content-around">

            <div class="logo row  align-items-center">
                <a href="{{ path("home") }}" title="accueil"><img src="{{ asset('img/logo-3.png' ) }}" alt="logo"></a>
                <a href="{{ path("home") }}" title="accueil"><h1 class="text-nowrap">Céline NP</h1></a>
            </div>

            <div class="connect row align-items-center">


                {% if is_granted('ROLE_USER') %}

                    <div class="dropdown">
                      <button class="btn button1 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ app.user.username }}
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/profile/">Mon profil</a>
                {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}
                            <a class="dropdown-item" href="{{ path('admin') }}">Administration</a>
                    {% endif %}


                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                       </div>

                   </div>

                {% else %}

                    <a href="{{ path('fos_user_security_login') }}" title="connexion/inscription">
                        <p>Mon compte</p>
                    </a>

                {% endif %}

             <a href="{{ path('panier_index') }}" title="voir mon panier"><img src="{{ asset('img/shopping-bag.png' ) }}" alt="panier"></a>

            </div>


        </div>
    </header>
    
    <nav class="row justify-content-center flex-wrap nav-scroller mb-2 nav_footer">
     {{
            render(controller(
                'App\\Controller\\PartialController::footer'
            ))
      }}


    </nav>


{% endblock %}


{% block main %}
<main class="container-fluid pageContact">

   <section>

      <div class="container">
          <hr>
          <h2>{{ page.titre }}</h2>
       </div>

      <article class="container footer">
            <div class="jumbotron jumbotron-container jumbotronBg">
            {% for Page in page.articles %}
                <div class="container">
                    <h3 class="display-6">{{ Page.titre }}</h3>
                    <p class="lead">{{ Page.contenu | raw('html') }}</p>
                </div>
            {% endfor %}
               {{ include ('/emails/_FormEmail.html.twig') }}
            </div>
      </article>


   </section>

</main>


{% endblock %}



{% block footer %}
{% endblock %}
