{% extends 'base.html.twig' %}


{% block title %}Mon panier{% endblock %}




{% block main %}

    {% set sousTotalPanier = 0 %}
    {% set TotalPanierHaut = 0 %}
    {% set TotalPanierBas = 0 %}
    {% set TotalPanierAccessoire = 0 %}

<main class="container-fluid panier">


    <div class="container">
        <hr>
        <h2>Mon panier</h2>
    </div>

    <section class="container">

        <article class="container">


            {% if modelehaut|length == 0 and modelebas| length == 0 and accessoires | length == 0 %}

               <div class="container">
                    <p>Panier vide</p>
                     <a href="{{ path('collection_index') }}" class="btn btn-grey">Continuer mes achats</a>
                </div>

            {% else %}

        
       
                {% if modelehaut is empty %}

                   <a href="{{ path('modele_haut') }}" class="btn btn-beige">Choisi ton modéle haut</a>
            
                                      
                    
                {% else %}

             
                        {% for modeles in modelehaut %}

                        <div class="card mb-3">

                            <div class="row no-gutters">
                                <div class="col-md-4">
                                   <img class="card-img-top" src="{{ vich_uploader_asset(modeles.picture, 'imageFile','App\\Entity\\Image') }}" alt="{{ modeles.picture.alt }}"  class="img_panier" >
                                </div>

                                <div class="col-md-8">

                                    <div class="card-body">

                                        <h5 class="card-title">{{ panierHaut[modeles.id].Nom}}</h5>
                                        <p class="card-text">{{ panierHaut[modeles.id].tissu}}</p>
                                        <p class="card-text">{{ panierHaut[modeles.id].finition }}</p>
                                        <p class="card-text">{{ panierHaut[modeles.id].total_modele_haut }}€</p>
                                        <a href="{{ path('delete_panier_modele_haut',{id:modeles.id}) }}" class="red" title="supprimer"><i class="far fa-trash-alt"></i></a>

                                    </div>

                               </div>
                            </div>

                           {% set TotalPanierHaut =  TotalPanierHaut + panierHaut[modeles.id].total_modele_haut  %}
                        </div>

                        {% endfor %}
               

                 


                {% endif %}


                {% if modelebas is empty %}

    
          
                   <a href="{{ path('modele_bas') }}" class="btn btn-beige">Choisi ton modéle bas</a>
            
               
                   

                {% else %}

                    {% for modeles in modelebas %}

                      <div class="card mb-3">

                        <div class="row no-gutters">

                            <div class="col-md-4">
                               <img class="card-img-top" src="{{ vich_uploader_asset(modeles.picture, 'imageFile','App\\Entity\\Image') }}" alt="{{ modeles.picture.alt }}"  class="img_panier" >
                            </div>

                          <div class="col-md-8">

                              <div class="card-body">
                                <h5 class="card-title">{{ panierBas[modeles.id].Nom}}</h5>
                                <p class="card-text">{{ panierBas[modeles.id].tissu}}</p>
                                <p class="card-text">{{ panierBas[modeles.id].finition }}</p>
                                <p class="card-text">{{ panierBas[modeles.id].total_modele_bas }}€</p>
                                <a href="{{ path('delete_panier_modele_bas',{id:modeles.id}) }}" class="red" title="supprimer"><i class="far fa-trash-alt"></i></a>
                              </div>
                           {% set TotalPanierBas =  TotalPanierBas + panierBas[modeles.id].total_modele_bas  %}
                          </div>

                        </div>
                    </div>

                    {% endfor %}

                {% endif %}



                {% if accessoires is empty %}
                 
                    <a href="{{ path('accessoires') }}" class="btn btn-beige">Choisi tes accessoires</a>
                  
                   
               

                {% else %}


                    {% for accessoire in accessoires %}


                     <div class="card mb-3">

                        <div class="row no-gutters">

                            <div class="col-md-4">

                              <img class="card-img-top" src="{{ vich_uploader_asset(accessoire.picture, 'imageFile','App\\Entity\\Image') }}" alt="{{ accessoire.picture.alt }}" class="img_panier">
                            </div>

                            <div class="col-md-8">
                              <div class="card-body">
                                <h5 class="card-title">{{ panierAccessoire[accessoire.id].Nom }}</h5>
                                <p class="card-text">Quantité: {{ panierAccessoire[accessoire.id].quantite }}</p>
                                <p class="card-text">{{ panierAccessoire[accessoire.id].prix_total_accessoire }}€</p>
                                <a href="{{ path('delete_panier_accessoire' , {id:accessoire.id}) }}" class="red" title="supprimer"><i class="far fa-trash-alt"></i></a>
                              </div>
                            </div>
                           {% set TotalPanierAccessoire = TotalPanierAccessoire + panierAccessoire[accessoire.id].prix_total_accessoire %}
                        </div>
                    </div>

                    {% endfor %}

                {% endif %}




            <div class="card mb-3">
                

                    <div class="card-body">
                      
                        <p class="card-text">Livraison - Gratuite</p>
                         {% set sousTotalPanier = TotalPanierAccessoire +  TotalPanierBas + TotalPanierHaut  %}
                           <strong>Total</strong>
                        <p class="card-text">{{ sousTotalPanier }}€</p>
                        <a href="{{ path('user_commande') }}" class="btn btn-grey">Valider</a>
                    </div>
               
            </div>


        {% endif %}

           

    </article>


    <article class="container">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Livraison</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rhoncus diam nec volutpat facilisis. Praesent condimentum, sem sed rutrum efficitur, metus justo finibus arcu, sed convallis magna dui lobortis dui. Fusce sed mauris fringilla, interdum purus ac, accumsan ligula.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Retour et Remboursement</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rhoncus diam nec volutpat facilisis. Praesent condimentum, sem sed rutrum efficitur, metus justo finibus arcu, sed convallis magna dui lobortis dui. Fusce sed mauris fringilla, interdum purus ac, accumsan ligula.</p>
                </div>
           </div>

        </article>

    </section>




    </main>




{% endblock %}

