{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block main %}
    <h1>Panier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ panier.id }}</td>
            </tr>
            <tr>
                <th>ModeleHaut</th>
                <td>{{ panier.modeleHaut }}</td>
            </tr>
            <tr>
                <th>ModeleBas</th>
                <td>{{ panier.modeleBas }}</td>
            </tr>
            <tr>
                <th>FinitionHaut</th>
                <td>{{ panier.finitionHaut }}</td>
            </tr>
            <tr>
                <th>FinitionBas</th>
                <td>{{ panier.finitionBas }}</td>
            </tr>
            <tr>
                <th>Accessoire</th>
                <td>{{ panier.accessoire }}</td>
            </tr>
            <tr>
                <th>TissuHaut</th>
                <td>{{ panier.tissuHaut }}</td>
            </tr>
            <tr>
                <th>TissuBas</th>
                <td>{{ panier.tissuBas }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('panier_index') }}">back to list</a>

    <a href="{{ path('panier_edit', {'id': panier.id}) }}">edit</a>

    {{ include('panier/_delete_form.html.twig') }}
{% endblock %}
