{% extends 'base.html.twig' %}

{% block title %}Collection{% endblock %}

{% block main %}

    <main class="container-fluid pageCollections">

        <section class="collections">

            <div class="container">
                <hr>
                <h2>Modèle bas</h2>

            </div>

            <article class="container">

                <div class="gallery row">
                  
                       {% for model in models %}
                       <div class=" col-sm-6 col-xl-4 position">
                            <div class="card">
                                <img class="card-img-top" src="{{ vich_uploader_asset(model.picture, 'imageFile','App\\Entity\\Image') }}" alt="{{ model.picture.alt }}" >

                                <div class="card-body">
                                    <p class="card-text">{{ model.nom }}</p>
                                    <p class="card-text">À partir de: {{ model.prix }}€</p>

                                </div>
                                <a href="{{path('modele_bas_show',{id:model.id})}}" class="button1">Je découvre</a>

                            </div>
                        </div>
                    {% endfor %}
                </div>

              
           
                <a href="{{path('accessoires')}}" class="lien-accessoires">
                <div class="container accessoires">
                   <h3 class="display-6">Les Accessoires</h3>
                    <p class="lead">consectetur adipiscing elit. Nunc vel dui a est sodales venenatis. Aenean sodales
                    metus lectus, id ornare ex mattis vitae. Vestibulum quis erat nec leo sagittis cursus quis nec
                    </p>
                </div>
               </a>
          
          


            </article>



        </section>




    </main>


{% endblock %}