{% extends 'base.html.twig' %}
{% block title %}Céline NP {% endblock %}

{% block main %}
    <main class="container-fluid accueil">

        <div class="imgAccueil">
            <img class="d-block w-100" src="{{ vich_uploader_asset(page.picture, 'imageFile','App\\Entity\\Image') }}" alt="{{ page.picture.alt }}">
        </div>


        <section class="accueil">

            <article>
               <h2 class="slogan">"Une passion au service de ta beauté"</h2>
                <p>{{ page.articles.get(0).contenu | raw('html') }}</p>
                <a href="{{ path("collection_index") }}" class="button2">Voir les collections</a>
            </article>



        </section>



    </main>

    <section class="accueilSecond">


        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h3 class="display-4">Compose ta tenue</h3>
                <hr>
                <p class="lead">Hae duae provinciae bello quondam piratico catervis mixtae praedonum a </p>

            </div>
        </div>

        <article class="container first">

            <h3 class="lastCollection">Découvre mes collections</h3>



             <div class="card-columns">

      
               <div class="card">
                   <blockquote class="blockquote mb-0 card-body">
                     <p>{{ page.articles.get(1).contenu | raw('html')}}</p>
                    </blockquote>
                    <footer>{{ page.articles.get(1).titre | raw('html')}}</footer>
                    <div class="bgWhite"></div>
                </div>



              <div class="card">
               <img class="card-img-top" src="{{ vich_uploader_asset(page.articles.get(3).picture, 'imageFile','App\\Entity\\Image') }}" alt="{{ page.articles.get(3).picture.alt }}"> 
                <div class="card-body">
                  <h3 class="card-title">{{ page.articles.get(3).titre | raw('html')}}</h3>
                  <p class="card-text">{{ page.articles.get(3).contenu | raw('html')}}</p>
                  <a href="{{path('modele_bas')}}" class="btn btn-beige">Je découvre</a>
                </div>
               
              </div>


              <div class="card">
               <img class="card-img-top" src="{{ vich_uploader_asset(page.articles.get(4).picture, 'imageFile','App\\Entity\\Image') }}" alt="{{ page.articles.get(4).picture.alt }}"> 
                <div class="card-body">
                  <h3 class="card-title">{{ page.articles.get(4).titre | raw('html')}}</h3>
                  <p class="card-text">{{ page.articles.get(4).contenu | raw('html')}}</p>
                  <a href="{{path('modele_haut')}}" class="btn btn-beige">Je découvre</a>
                </div>
              </div>



              <div class="card">
                <img class="card-img-top" src="{{ asset('img/choix.jpg') }}" alt="compose ta tenue">
              
              </div>

    

              <div class="card">
                 <blockquote class="blockquote mb-0 card-body">
                  <p>{{ page.articles.get(2).contenu | raw('html')}}</p>
                 </blockquote>
                 <footer>{{ page.articles.get(2).titre | raw('html')}}</footer>
                 <div class="bgWhite"></div>
              </div>



              <div class="card">
               <img class="card-img-top" src="{{ vich_uploader_asset(page.articles.get(5).picture, 'imageFile','App\\Entity\\Image') }}" alt="{{ page.articles.get(5).picture.alt }}"> 
                <div class="card-body">
                  <h3 class="card-title">{{ page.articles.get(5).titre | raw('html')}}</h3>
                  <p class="card-text">{{ page.articles.get(5).contenu | raw('html')}}</p>
                  <a href="{{path('accessoires')}}" class="btn btn-beige">Je découvre</a>
                </div>
              </div>



     
          </div>

        </article>




        <article class="container">


            <h3 class="lastCollection">Découvre mes créations</h3>



                <img class="card-img-top" src="img/rocknwool-282399-unsplash.jpg" alt="mes créations">
                <div class="card-body">
                    <p class="card-text">This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer</p>

                     <a href="{{ path('creation') }}" class="button2 creation">Voir les créations</a>

                </div>



           

         
        <div class="jumbotron jumbotron-container jumbotronBg">
            <div class="container">
                <h3 class="display-6">Lorem ipsum dolor sit amet</h3>
                <p class="lead">consectetur adipiscing elit. Nunc vel dui a est sodales venenatis. Aenean sodales
                metus lectus, id ornare ex mattis vitae. Vestibulum quis erat nec leo sagittis cursus quis nec
                eros. Duis elementum, augue nec suscipit ornare, orci mi consequat eros, at hendrerit nunc nunc
                ut nisl. Cras sit amet consequat quam. Sed posuere venenatis tellus, non iaculis mauris tincidunt
                in. In in sapien nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                </p>
            </div>
         </div>



       </article>




    </section>


{% endblock %}

