{% trans_default_domain 'FOSUserBundle' %}



 <main class="container-fluid compte">


        <!----page compte--->

        <div class="container">
            <hr>
            <div class="fos_user_user_show">
              <h2 class="profil">Bienvenue {{ user.username }}</h2>
            </div>
        </div>
       

    <article class="container mon-profil">

      <div class="card-columns">

        <div class="card">

          <div class="card-body">
            <h3>Mon Profil</h3>

            <br>
            <ul class="list-group list-group-flush">

              {% if user.userIdentity is not empty %}

                <li class="list-group-item"><a href="{{ path('user_identity_edit' , {id:user.userIdentity.id}) }}">Mettre à jour mes informations</a></li>
                {% else %}

               <li class="list-group-item"><a href="{{ path('user_identity_new') }}" class="button1">Clique ici pour renseiger tes informations</a></li>
               {% endif %}



              <li class="list-group-item"><a href="/profile/edit">Mettre à jour mon mot de passe</a></li>
              <li class="list-group-item"><a href="/profile/edit">Mettre à jour mon adresse email</a></li>
              {#<li class="list-group-item">{{ include('user/_delete_form.html.twig') }}</li>#}

            </ul>
            <br>
              {% if user.userIdentity is not empty %}
              <a  href="{{ path('user_identity_show' , {id:user.userIdentity.id}) }}" class="icon-profil" title="voir mon profil"><i class="fas fa-address-card"></i></a>
              {% else %}
              {% endif %}

          </div>
        </div>



        <div class="card">
          <img src="{{asset('img/rawpixel-617391-unsplash.jpg')}}" class="card-img-top" alt="...">
        </div>



        <div class="card">
          <div class="card-body">
            <h3>Mes Commandes</h3>
            <p>Consulte l'encours de tes commandes</p>
            <a href="{{ path('commande_show') }}" class="icon-profil"  title="voir mes commandes"><i class="fas fa-box-open"></i></a>
          </div>
        </div>


        <div class="card">
          <div class="card-body">
            <h3>Mes Mensurations</h3>

              {% if user.mensurations is not empty %}

                <a href="{{ path('mensurations_edit' , {id:user.mensurations.id}) }}">Mettre à jour mes mensurations</a>
               

                 {% else %}
                 <a href="{{ path('mensurations_new')}}" class="button1">Clique ici pour ajouter tes mensurations</a>
              {% endif %}


              {% if user.mensurations is not empty %}
              <a href="{{ path('mensurations_show' ,  {id:user.mensurations.id} ) }}" class="icon-profil" title="voir mes mensurations"><i class="fas fa-ruler-horizontal"></i></a>
              {% else %}
              {% endif %}


          </div>
        </div>




        <div class="card">
          <div class="card-body">
            <h3>Une Question ?</h3>
            <p>N'hésite pas à me contacter.</p>
            <a href="{{ path('user_contact') }}" class="icon-profil" title="mes messages"><i class="fas fa-envelope"></i></a>

          </div>
        </div>



      </div>

      {% if app.session.get('panierHaut') is not empty or app.session.get('panierBas') is not empty or app.session.get('panierAccessoire') is not empty %}

          <a href="{{ path('user_commande') }}" class="btn btn-grey">Valide ta commande</a>
      {% else %}

      {% endif %}




    </article>










</main>

