{% extends '/admin/index.html.twig'%}

{% block title %}{{ produit.nom }}{% endblock %}



{% block main %}
<main class="container-fluid admin">
{# 
    <section class="container">

       <div class="container">
           <hr>
           <h2>{{ produit.nom }}</h2>

       </div>

       <a href="{{ path('edition',{id:produit.id}) }}" class="btn btn-secondary">Éditer</a>

       <article class="container d-flex justify-content-center">

             <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ vich_uploader_asset(produit.image, 'imageFile','App\\Entity\\Image') }}" alt="{{ produit.image.alt }}">
             </div>

            {% for gallerie in produit.gallerie%}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ vich_uploader_asset(gallerie, 'imageFile','App\\Entity\\Gallery') }}" >
             </div>
             {% endfor %}
      </article>


      <div class="jumbotron jumbotron-container">

        <div class="container">
          <p>{{ produit.nom }}</p>
          <p>{{ produit.description | raw('html') }}</p>

          <ul>Couleur disponible:
           {% for couleur in produit.couleurs %}
            <li>{{  couleur.nom }}</li>
            {% endfor %}
          </ul>

          <ul>Tissus disponible:
            {% for tissu in produit.tissus %}
              <li>{{ tissu.nom }}</li>
            {% endfor %}
          </ul>

        </div>

      </div>

    <article>
        
     
      {% for modelhaut in produit.modelhaut %}
          <div class="card" style="width: 10rem;">
            <img class="card-img-top" src="{{ vich_uploader_asset(modelhaut.picture, 'imageFile','App\\Entity\\Image') }}" alt="{{ modelhaut.picture.alt }}">
            <div class="card-body">{{ modelhaut.nom }}</div>
          </div>
       {% endfor %}


      {% for modelbas in produit.modelbas %}
          <div class="card" style="width: 10rem;">
            <img class="card-img-top" src="{{ vich_uploader_asset(modelbas.picture, 'imageFile','App\\Entity\\Image') }}" alt="{{ modelbas.picture.alt }}">
            <div class="card-body">{{ modelbas.nom }}</div>
          </div>
       {% endfor %}


       
      {% for modeldos in produit.modeldos %}
          <div class="card" style="width: 10rem;">
            <img class="card-img-top" src="{{ vich_uploader_asset(modeldos.picture, 'imageFile','App\\Entity\\Image') }}" alt="{{ modeldos.picture.alt }}">
            <div class="card-body">{{ modeldos.nom }}</div>
          </div>
       {% endfor %}
       

       

       

    

    </article>







#}




   </section>

</main>


{% endblock %}

