{% extends '/admin/footer.html.twig'%}


{% block title %}Mise à jour{% endblock %}

{% block header %}
    <header>
        <div class="row justify-content-around">
            <div class="logo row  align-items-center">
                <a href="{{ path("home") }}"><img src="{{ asset('img/logo-3.png' ) }}" alt="logo"></a>
                <a href="{{ path("home") }}"><h1 class="text-nowrap">Céline NP</h1></a>
            </div>
        </div>
    </header>
    <nav class="row justify-content-center nav-scroller py-1 mb-2">
        <a href="{{ path("home") }}">Retour à l'accueil du site</a>
        <a href="{{ path("admin") }}">Administration</a>
    </nav>

{% endblock %}

{% block main %}
 <main class="container-fluid admin">


    <section class="container">
        <hr>
        <h2>Mise à jour de la commande n° {{  user_commande.reference}}</h2>


    {{ include('admin/admin_user_commande/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        <br>
    <a href="{{ path('user_commande_index') }}">Retour</a>

    </section>
</main>
{% endblock %}
