{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block main %}

    <main class="container-fluid panier">


        <div class="container">
            <hr>
            <h2>Mes Informations</h2>
        </div>

        <article class="container">


            <div class="card mb-3">

              <div class="row no-gutters">

                <div class="col-md-4">
                 
                </div>

                <div class="col-md-8">

                {% if user.userIdentity is not empty %}
                  <div class="card-body">
                    <h5 class="card-title">Vos informations</h5>
                    <p class="card-text">{{ user.userIdentity.nom }}&nbsp;{{ user.userIdentity.prenom }}</p>
                    <p class="card-text">{{ user.userIdentity.adresse }}&nbsp;{{ user.userIdentity.codePostal }}&nbsp;{{ user.userIdentity.ville }}</p>
                    <p class="card-text">{{ user.userIdentity.pays }}&nbsp;{{ user.userIdentity.telephone }}</p>   
                     <a href="{{ path('user_identity_edit',{id:user.userIdentity.id}) }}" class="btn btn-beige" >Modifier</a>
                  </div>
                  
                   {% else %}
                        <div class="card-body">
                            <a href="{{ path('user_identity_new') }}" class="btn btn-beige">Renseigner vos informations</a>
                        </div>

                    {% endif %}
                </div>
              </div>
            </div>

            <div class="card mb-3">
              <div class="row no-gutters">
                <div class="col-md-4">
                 
                </div>

                <div class="col-md-8">

                  {% if user.mensurations is not empty %}
                  <div class="card-body">
                    <h5 class="card-title">Vos Mensurations</h5>
                    <p class="card-text">Taille: {{ user.mensurations.taille }} &nbsp; Tour de poitrine: {{ user.mensurations.tourDePoitrine }}</p>
                    <p class="card-text">Tour de hanche: {{ user.mensurations.tourDeHanche }}&nbsp; Tour de taille: {{ user.mensurations.tourDeTaille }}</p>
                    <p class="card-text">Tour de cuisse: {{ user.mensurations.tourDeCuisse }}</p>
                     <a href="{{ path('mensurations_edit' , {id:user.mensurations.id}) }}" class="btn btn-beige">Modifier</a>
                  </div>

                   {% else %}
                    <div class="card-body">
                        <a href="{{ path('mensurations_new')}}" class="btn btn-beige">Clique ici pour ajouter tes mensurations</a>
                    </div>

                    {% endif %}

                </div>
              </div>
            </div>


            <br>

            {% if user.mensurations is not empty and user.userIdentity is not empty%}

                 <a href="{{ path('validation') }}" class="btn btn-grey">Valider</a>

            {% else %}
                
                <p>Pour valider ta commande renseigne tes informations de livraison ainsi que tes mensurations</p>
              
            {% endif %}


        </article>
</main>

{% endblock %}
