{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block main %}

    <main class="container-fluid panier">


        <div class="container">
            <hr>
            <h2>Mes Informations</h2>
        </div>

        <article class="container">

            <div class="row">

                <div class="card col-sm">

                    {% if user.userIdentity is not empty %}
                        <div class="identity">
                            <h4>Vos informations</h4>
                            <p>{{ user.userIdentity.nom }}</p>
                            <p>{{ user.userIdentity.prenom }}</p>
                            <p>{{ user.userIdentity.pays }}</p>
                            <p>{{ user.userIdentity.region }}</p>
                            <p>{{ user.userIdentity.departement }}</p>
                            <p>{{ user.userIdentity.adresse }}</p>
                            <p>{{ user.userIdentity.codePostal }}</p>
                            <p>{{ user.userIdentity.ville }}</p>
                            <p>{{ user.userIdentity.telephone }}</p>
                            <a href="{{ path('user_identity_edit',{id:user.userIdentity.id}) }}">Modifier</a>

                        </div>
                    {% else %}
                        <div class="identity">
                            <a href="{{ path('add_user_identity') }}">Renseigner vos informations</a>
                        </div>

                    {% endif %}
                </div>

                <div class="card col-sm">


                    {% if user.mensurations is not empty %}

                        <div class="mensurations">
                            <h4>Vos Mensurations </h4>
                            <p>{{ user.mensurations.taille }}</p>
                            <p>{{ user.mensurations.tourDePoitrine }}</p>
                            <p>{{ user.mensurations.tourDeHanche }}</p>
                            <p>{{ user.mensurations.tourDeTaille }}</p>
                            <p>{{ user.mensurations.tourDeCuisse }}</p>
                            <a href="{{ path('mensurations_edit' , {id:user.mensurations.id}) }}">Modifier</a>
                        </div>
                    {% else %}
                        <div class="mensurations">
                            <a href="{{ path('mensurations_new')}}" class="btn btn-beige">Clique ici pour ajouter tes mensurations</a>
                        </div>

                    {% endif %}


                </div>


            </div>

            {% if user.mensurations is not empty and user.userIdentity is not empty%}

                 <a href="{{ path('validation') }}" class="btn btn-grey">Valider</a>

            {% else %}
                
                <p>Renseigne tes informations</p>
              
            {% endif %}


        </article>
</main>

{% endblock %}
