{% extends '/admin/index.html.twig'%}

{% block title %}admin {{page.titre}}{% endblock %}

{% block header %}

    <header>
        <div class="row justify-content-around">

            <div class="logo row  align-items-center">
                <a href="{{ path("home") }}"><img src="{{ asset('img/logo-3.png' ) }}" alt="logo"></a>
                <a href="{{ path("home") }}"><h1 class="text-nowrap">Céline NP</h1></a>
            </div>

        </div>
    </header>

    <nav class="row justify-content-center nav-scroller py-1 mb-2">
        <a href="{{ path("home") }}">Retour à l'accueil du site</a>
        <a href="{{ path("admin") }}">Administration</a>
        <a href="{{ path("pageListe") }}">Liste des pages</a>
    </nav>

      <div class="container">
        <hr>
    </div>

{% endblock %}





{% block main %}

<main class="container-fluid admin">

    <div class="container">
     
        <h2>{{ page.titre }}</h2>

        <table class="table table-responsive">

            <thead>
            <tr>
                <th scope="col">Page</th>
                <th scope="col">Image</th>
                <th>Édition</th>
            </tr>
            </thead>

            <tbody>
                <tr>
                    <th scope="row">{{ page.titre }}</th>
                    <th scope="row">
                        {% if page.picture is empty %}
                          <p>Vous ne pouvez pas ajouter d'image pour cette page</p>

                           {% else %}
                              <img src="{{ vich_uploader_asset(page.picture, 'imageFile','App\\Entity\\Image') }}" alt="{{page.picture.alt}}" style="width:18rem">
                    </th>
                    <td><a href="{{ path('app_adminpage_pageedition',{id:page.id}) }}" class="btn btn-secondary">Éditer</a></td>

                    {% endif %}
                </tr>

            </tbody>

        </table>

        <h4>Articles associés</h4>


        <table class="table">

            <thead>
            <tr>
                <th scope="col">Articles</th>
                <th scope="col">Contenu</th>
                <th scope="col">Image</th>
                <th scope="col">Édition</th>
            </tr>
            </thead>

            <tbody>
            {% for article in page.articles %}
                <tr>
                    <th scope="row">{{ article.titre}}</th>
                    <th scope="row">{{ article.contenu | raw('html')}}</th>
                    <th scope="row">
                        {% if article.picture is empty %}
                            Aucune image
                        {% else %}
                            <img src="{{ vich_uploader_asset(article.picture, 'imageFile','App\\Entity\\Image') }}" alt="{{article.picture.alt}}" style="width:18rem">
                        {% endif %}
                    </th>
                    <td><a href="{{ path('app_adminarticles_articleedition',{id:article.id}) }}" class="btn btn-secondary">Éditer</a></td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
       
    </div>
</main>

{% endblock %}


