{% extends 'base.html.twig' %}

{% block title %}Collection{% endblock %}

{% block main %}

<main class="container-fluid mobile">
  
        <!--page 2 :Collections---->
   
       
    <section class="collections">

      <div class="container">
        <hr>
        <h2>Collections</h2>
   
      </div>




      <article class="container" style="margin-top: 50px;">

        <a href="{{path('modele_haut')}}" class="collection-index3" title="voir les modèles hauts"><img src="{{ asset('img/modele-haut.png' ) }}" alt="haut"></a>
        
  
        

        <div class="collection-modele">

          <a href="{{path('modele_bas')}}" class="collection-index2" title="voir les modèles bas"><img src="{{asset('img/modele-bas.png')}}" alt="index modéle bas"></a>

          <a href="{{path('accessoires')}}" class="collection-index1" title="voir les accessoires"><img src="{{asset('img/accessoire.png')}}" alt="index accessoires"></a>

        </div>



  

      </article>



    </section>







</main>



{% endblock %}