{% extends '/admin/index.html.twig'%}

{% block title %}Ajouter un accessoire{% endblock %}

{% block header %}
    <header>
        <div class="row justify-content-around">

            <div class="logo row  align-items-center">
                <a href="{{ path("home") }}"><img src="{{ asset('img/logo-3.png' ) }}" alt="logo"></a>
                <a href="{{ path("home") }}"><h1 class="text-nowrap">Céline NP</h1></a>
            </div>

        </div>
    </header>

    <nav class="row justify-content-center nav-scroller py-1 mb-2">
        <a href="{{ path("home") }}">Retour à l'accueil du site</a>
        <a href="{{ path("admin") }}">Administration</a>    
        <a href="{{ path('accessoires_index') }}">Liste des accessoires</a>
      
    </nav>
    <div class="container">
      <hr>
        

    </div>

{% endblock %}


{% block main%}
  
 <main class="container-fluid admin">

    <section class="container">

  
           <h2>Créer un accessoire</h2>

      

        <article>


            {{ include('/admin/admin_accessoires/_form.html.twig', {'button_label': 'Créer'}) }}


        </article>

    </section>

</main>


{% endblock %}
