{% extends 'base.html.twig' %}

{% block title %}Accessoires{% endblock %}

{% block main %}

    <main class="container-fluid pageCollections">

        <section class="collections">

            <div class="container">
                <hr>
                <h2>Accessoires</h2>

            </div>

            <article class="container">

                <div class="gallery row">
                  
                       {% for accessoire in accessoires %}
                       <div class=" col-sm-6 col-xl-4 position">

                        {% if panierAccessoire[accessoire.id] is not defined %}
                            <div class="card">
                                    <img class="card-img-top" src="{{ vich_uploader_asset(accessoire.picture, 'imageFile','App\\Entity\\Image') }}" alt="{{ accessoire.picture.alt }}" >

                                    <div class="card-body">
                                        <p class="card-text">{{ accessoire.nom }}</p>
                                        <p class="card-text">Prix:{{ accessoire.prix }}€</p>

                                    </div>

                                    <a href="{{ path('accessoires_show',{'slug':accessoire.slug}) }}" class="button1">Je découvre</a>
                             </div>

                            {% else %}
                              <div class="card panier_active">

                                        <img class="card-img-top" src="{{ vich_uploader_asset(accessoire.picture, 'imageFile','App\\Entity\\Image') }}" alt="{{ accessoire.picture.alt }}" >

                                        <div class="card-body">
                                            <p class="card-text">{{ accessoire.nom }}</p>
                                            <p class="card-text">Prix:{{ accessoire.prix }}€</p>

                                        </div>

                                        <a href="" class="button1 active">Déjà dans le panier</a>
                                </div>
                         {% endif %}


                        </div>
                    {% endfor %}
                </div>

            </article>

        </section>




    </main>


{% endblock %}