{% extends 'base.html.twig' %}

{% block title %}{{accessoire.nom}}{% endblock %}


{% block main %}


<main class="container-fluid">

    <!--page :tenue---->
    <div class="container">
        <hr>
        <h2>Choisi tes accessoires</h2>
    </div>

    <section class="container tenue">

        <article class="row">

                <div class="galleryTenu col-sm">
                     <img class="card-img-top" src="{{ vich_uploader_asset(accessoire.picture, 'imageFile','App\\Entity\\Image') }}" alt="{{ accessoire.picture.alt }}" >

                </div>

                <div class="description col-sm">

                    <h3>{{accessoire.nom}}</h3>
                    <p>Prix: {{accessoire.prix}}€</p>


                    <div class="modèle">

                        <form action="{{ path('ajoute_panier_accessoire', {id:accessoire.id}) }}" method="post">

                           <div class="form-group">
                               <label for="quantite">Choisi ta quantité</label>
                               <select class="form-control form-control-sm" name="quantite">
                                  {% for i in 1..10 %}
                                  <option value="{{i}}">{{ i }}</option>
                                  {% endfor %}
                                </select>
                            </div>


                    
                             <button class="btn btn-beige">Ajouter au panier</button>
                               

                         

                        </form>
                        
                        <div class="card">

                            <div class="card-body text-center">
                                <h4>Choix des accessoires</h4>
                            </div>

                            <footer>
                            consectetur adipiscing elit. Nunc vel dui a est sodales venenatis. Aenean sodales
                            metus lectus, id ornare ex mattis vitae. Vestibulum quis erat nec leo sagittis cursus quis nec
                            eros
                            </footer>

                            <div class="bgWhite"></div>
                        </div>


                    </div>

                        <a href="{{ path('collection_index') }}" class="btn btn-grey">Voir Les Modéles Disponibles</a>
                 


                </div>

         </article>


        <article class="second">
            <h4>Accessoires disponibles</h4>

                <div class="carousel">
                    {% for item in accessoires %}
                     <div class="itemCarousel">
                        <a href="{{ path('accessoires_show' ,{slug:item.slug})  }}" title="voir les accessoires"><img src="{{ vich_uploader_asset(item.picture, 'imageFile','App\\Entity\\Image') }}" alt="{{ item.picture.alt }}" style="width:15rem"></a>
                         
                    </div>
                    {% endfor %}
             
                </div>


        </article>


   
    </section>





</main>

{% endblock %}

