{% extends '/admin/index.html.twig'%}

{% block title %}Clientéle{% endblock %}




{% block header %}
    <header>
        <div class="row justify-content-around">
            <div class="logo row  align-items-center">
                <a href="{{ path("home") }}"><img src="{{ asset('img/logo-3.png' ) }}" alt="logo"></a>
                <a href="{{ path("home") }}"><h1 class="text-nowrap">Céline NP</h1></a>
            </div>
        </div>
    </header>
    <nav class="row justify-content-center nav-scroller py-1 mb-2">
        <a href="{{ path("home") }}">Retour à l'accueil du site</a>
        <a href="{{ path("admin") }}">Administration</a>
    </nav>

   <div class="container">
        <hr>
    </div>

{% endblock %}




{% block main %}
<main class="container-fluid admin">

    <section class="container">

   
            <h2>Clientéle</h2>

        <article>

            <table class="table table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">
                <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Téléphone</th>
                    <th scope="col">Taille</th>
                    <th scope="col">Tour de Poitrine</th>
                    <th scope="col">Tour de Hanche</th>
                    <th scope="col">Tour de Taille</th>
                    <th scope="col">Tour de Cuisse</th>


                </tr>
                </thead>
                <tbody>
                {% for Users in user %}
                <tr>
                {% if Users.userIdentity is not  empty %}
                  <th scope="row">{{Users.userIdentity.nom}}</th>
                    <td>{{ Users.userIdentity.prenom }}</td>
                    <td>{{ Users.email }}</td>
                    <td>{{ Users.userIdentity.telephone }}</td>   
                  {% else %}
                  <th>{{Users.username}} n'a pas encore renseigné ses informations</th>
                  
                {% endif %}
                {% if Users.mensurations is not empty %}
                  <td>{{ Users.mensurations.taille }}</td>
                    <td>{{ Users.mensurations.tourDePoitrine }}</td>
                    <td>{{ Users.mensurations.tourDeHanche }}</td>
                    <td>{{ Users.mensurations.tourDeTaille }}</td>
                    <td>{{ Users.mensurations.tourDeCuisse }}</td>
                {% else %}
                  <th>{{Users.username}} n'a pas encore renseigné ses mensurations</th>
                  
                {% endif %}
                
              {% endfor %}
                </tr>

                </tbody>
            </table>
        </article>






    </section>
</main>
{% endblock %}
