{% extends '/admin/index.html.twig'%}

{% block title %}Édition{% endblock %}


{% block main %}

    <main class="container-fluid admin">

        <section class="container">
    
                <h2>Édition</h2>

            <article>

                {{ form_start(createForm) }}
                {{ form_row(createForm.titre) }}
                {{ form_row(createForm.contenu) }}

                {% if article.picture is empty %}


                    {{ form_row(createForm.picture,{

                         'label':"Vous ne pouvez pas ajouter d'image pour cet article",
                         'attr': {'class':'hidden_image'}
                         }) 
                    }}

                {% else %}

                 {{ form_row(createForm.picture,{'label':'Image'}) }}

                {% endif %}


                {{ form_row(createForm.page) }}
                <button type="submit" class="btn btn-grey">Éditer</button>
                {{ form_end(createForm) }}

            </article>
        </section>
    </main>
{% endblock %}

