{% extends 'base.html.twig' %}

{% block title %}Mensurations{% endblock %}

{% block main %}
   
<main class="container-fluid">

    <div class="container">
        <hr>
        <h2>Mes mensurations</h2>
    </div>

    <br>

    <section class="container">

    <table class="table table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">
        <tbody>
      
            <tr>
                <th>Taille</th>
                <td>{{ mensuration.taille }}</td>
            </tr>
            <tr>
                <th>Tour De Poitrine</th>
                <td>{{ mensuration.tourDePoitrine }}</td>
            </tr>
            <tr>
                <th>Tour De Hanche</th>
                <td>{{ mensuration.tourDeHanche }}</td>
            </tr>
            <tr>
                <th>Tour De Taille</th>
                <td>{{ mensuration.tourDeTaille }}</td>
            </tr>
            <tr>
                <th>Tour De Cuisse</th>
                <td>{{ mensuration.tourDeCuisse }}</td>
            </tr>
       
        </tbody>
    </table>


    {#{{ include('/user_mensuration/mensurations/_delete_form.html.twig') }}#}

   <br>

     <a href="javascript:history.back()">Retour</a>



    </section>
</main>
{% endblock %}
